flask/
.DS_store
flask-jinja-demo/venv/
flask-survey/venv/
flask-survey/__pycache__
flask-sessions/venv/
flask-boggle/venv/
flask-boogle/__pycache__
flask-forex/venv/
flask-forex/__pycache__
flask-intro-demo/venv/
sqlalchemy/venv/
sqlalchemy/__pycache__
sqlalchemy/VideoDemo/venv
sqlalchemy/VideoDemo/__pycache__
sqlalchemy/exercise/venv
sqlalchemu/exercise/__pychace__
flask-wtforms-demo/VideoDemo/venv
flask-wtforms-demo/VideoDemo/__pycache__
adoption-app/venv
adoption-app/__pycache__
flask-apis/flask-rest-json-api-demo/venv
flask-apis/flask-rest-json-api-demo/__pycache__
flask-apis/VideoCode/venv
flask-apis/VideoCode/__pycache__
flask-apis/learning/exercise/flask-cupcakes/venv
flask-apis/learning/exercise/flask-cupcakes/__pycache__