flask/
.DS_store
flask-jinja-demo/venv/
flask-survey/venv/
flask-survey/__pycache__
flask-sessions/venv/
flask-boggle/venv/
flask-boogle/__pycache__
flask-forex/venv/
flask-forex/__pycache__
flask-intro-demo/venv/
sqlalchemy/venv/
sqlalchemy/__pycache__
sqlalchemy/VideoDemo/venv
sqlalchemy/VideoDemo/__pycache__
