<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Pets for Adoption</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center flex-wrap">
            <div class="col-md-8 mb-3" >
                <h1 class='text-center'>Pets</h1>
                {% for msg in get_flashed_messages() %}
                    {{msg}}
                {% endfor %}
                {% for pet in pets %}
                    <div class="col-4 mb-1">
                        <img src="{{pet.photo_url}}" width='300px' alt="{{pet.name}}">
                        <p>{{pet.name}}<b> is Available</b></p>
                        <a class ='btn btn-danger' href="/{{pet.id}}/delete">Delete</a>
                        <a class ='btn btn-primary' href="/{{pet.id}}/edit">Edit</a>
                        <a class ='btn btn-info' href="/{{pet.id}}">Details</a>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-8">
                <a href="/add" class='btn btn-success btn-block'>Add a Pet</a>
            </div>
        </div>
    </div>
</body>
</html>