{% extends 'base.html' %}

{% block guessform %}
<form class="add-guess" method="POST">
    <input id="guess" type="text" name='guess' autofocus placeholder='type your guess'>
    <button>Submit!</button>
</form>
{% endblock %}

{% block board %}
    <table id='board'>
    {% for row in board %}
        <tr>
            {% for cell in row %}
                <td>{{cell}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <p class='messages'></p>
    <p class='score'>0</p>
    <p>Time left: </p><b class="timer"></b></p>
    <p><b>Highscore: </b>{{highscore}}</p>
    <p><b>Number of plays: </b>{{plays}}</p>
    <ul id='guesses'></ul>
{% endblock %}


{% block jscript %}
    <script src="../static/js/script.js"></script>
{% endblock %}

