<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Blogly</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
        {% for user in users %}
        <li><a href="/{{user.id}}">{{user.first_name}}</a></li>
        {% endfor %}
    </ul>
    <button class="btn btn-primary">
        <a href="/adduser" style="color: white; text-decoration: none">Add User</a>
    </button>
    <button class="btn btn-success">
        <a href="/tags" style="color: white; text-decoration: none">Tag List</a>
    </button>
</body>
</html>