<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>{{user.first_name}}</title>
</head>
<body>
    <h1>{{post.title}}</h1>
    <p>
        {{post.content}}
    </p>
    <p><i>By {{user.first_name}} {{user.last_name}} on {{post.created_at}}</i></p>
    <p>
        <b>Tags:
            {% for tag in post.tags %}
                <div class="badge bg-primary">{{tag.name}}</div>
            {% endfor %}
        </b>
    </p>
    <a href="/{{user.id}}" class="btn btn-secondary">Cancel</a>
    <a href="/edit/post/{{post.id}}" class="btn btn-primary">Edit</a>
    <a href="/delete/post/{{post.id}}" class="btn btn-danger">Delete</a>
</body>
</html>