{% extends 'base.html' %}

{% block content %}

<h1 class="display1 mb-3">Welcome back! <b>{{user.first_name}}</b></h1>
<div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Username: <b>{{user.username}}</b></h5>
        <ul>
            <li>First Name: {{user.first_name}}</li>
            <li>Last Name: {{user.last_name}}</li>
            <li>Email: {{user.email}}</li>
        </ul>
        <a href="/user/{{user.username}}/delete" class="btn btn-danger">Delete</a>
        <a href="/user/{{user.username}}/feedback" class="btn btn-success">Feedback</a>
        
    </div>
</div> 

<h2 class="mb-2">Your feedbacks:</h2>
{% for feedback in user.feedbacks %}
<div class="card">
    <div class="card-body">
        <h6 class="card-title"><b>{{feedback.title}}</b></h6>
        <p>
            {{feedback.content}}
        </p>
        <a href="/user/{{user.username}}/feedback/{{feedback.id}}/delete" class="btn btn-danger">delete</a>
        <a href="/user/{{user.username}}/feedback/{{feedback.id}}/edit" class="btn btn-primary">Edit</a>
    </div>
</div> 
{% endfor %}
{% endblock %}
    